---
interface Props {
  title: string;
  body: string;
  image: string;
  href: string;
  date: string;
}

const { title, body, image, href, date } = Astro.props;
---

<div
  class="overflow-hidden rounded-md bg-slate-800 hover:scale-[1.01] transition duration-200"
>
  <a href={href} class="block">
    <img src={image} alt="project" class="h-64 md:h-44 w-full" />
    <div class="px-3 py-2 pb-4 text-center flex flex-col gap-1">
      <h2 class="font-semibold text-lg">
        {title}
      </h2>
      <p class="text-xs text-gray-400">{date}</p>
      <p class="text-sm">
        {body}
      </p>
    </div>
  </a>
</div>
